Billing.Site/Service References/BillingService/BillingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Billing.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Billing.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57889/BillingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BillDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallCharges" nillable="true" type="tns:CallChargesDto" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:PackageDto" />
      <xs:element minOccurs="0" name="SkyStore" nillable="true" type="tns:SkyStoreDto" />
      <xs:element minOccurs="0" name="Statement" nillable="true" type="tns:StatementDto" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillDto" nillable="true" type="tns:BillDto" />
  <xs:complexType name="CallChargesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calls" nillable="true" type="tns:ArrayOfCallDto" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallChargesDto" nillable="true" type="tns:CallChargesDto" />
  <xs:complexType name="ArrayOfCallDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallDto" nillable="true" type="tns:CallDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallDto" nillable="true" type="tns:ArrayOfCallDto" />
  <xs:complexType name="CallDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Called" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDto" nillable="true" type="tns:CallDto" />
  <xs:complexType name="PackageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfSubscriptionDto" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDto" nillable="true" type="tns:PackageDto" />
  <xs:complexType name="ArrayOfSubscriptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionDto" nillable="true" type="tns:SubscriptionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionDto" nillable="true" type="tns:ArrayOfSubscriptionDto" />
  <xs:complexType name="SubscriptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionDto" nillable="true" type="tns:SubscriptionDto" />
  <xs:complexType name="SkyStoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyAndKeep" nillable="true" type="tns:ArrayOfProgrammeDto" />
      <xs:element minOccurs="0" name="Rentals" nillable="true" type="tns:ArrayOfProgrammeDto" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkyStoreDto" nillable="true" type="tns:SkyStoreDto" />
  <xs:complexType name="ArrayOfProgrammeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgrammeDto" nillable="true" type="tns:ProgrammeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgrammeDto" nillable="true" type="tns:ArrayOfProgrammeDto" />
  <xs:complexType name="ProgrammeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgrammeDto" nillable="true" type="tns:ProgrammeDto" />
  <xs:complexType name="StatementDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Due" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Generated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="tns:PeriodDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementDto" nillable="true" type="tns:StatementDto" />
  <xs:complexType name="PeriodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodDto" nillable="true" type="tns:PeriodDto" />
</xs:schema>